%link{:type => "text/css", :rel => "stylesheet", :href => "css/main.css"}
%link{:rel => "preconnect", :href => "https://fonts.googleapis.com"}
%link{:rel => "preconnect", :href => "https://fonts.googleapis.com", :crossorigin => "anonymous"}
%link{:href => "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap", :rel => "stylesheet"}

<center>
%img{:src => "img/logo-vn.svg", :class => "logo"}
%div{:hidden => locals[:no_password_login], :class => "login-form-container"}
  %h2 Login
  %p Welcome back! Please enter your details
  %form{:username => "username", :password => "password", :action => "#{locals[:host]}/login/exec", :method => "post"}
    %div{:class => "form-fieldsets"}
      %div{:class => "form-fieldsets"}
      %label{:for => "username"} Username
      %input{:type => "text", :name => "username", :class => "text", :placeholder => "Input Username"}
      %br
      %label{:for => "password"} Password
      %input{:type => "password", :name => "password", :class => "text", :placeholder => "Input Password"}
      %br
      %br
      %input{:type => "submit", :value => "Login", :class => "button"}
%div{:hidden => locals[:providers].empty?}
  %hr
  %h2 Login with external provider:
%div{:class => "idplist", :hidden => locals[:providers].empty?}
  %br
  - (locals[:providers]).each do |provider|
    %a{:href => provider[:url], :class => "button"}
      %span{:hidden => !provider[:logo].nil? } #{provider[:name]}
      %img{:src => "#{provider[:logo]}", :hidden => provider[:logo].nil?}
    %br
</center>
